.cardContainer {
    background-color: var(--card-background);

    aspect-ratio: 1/1;
    width: 18.75rem;
    height: 18.75rem;
    padding: 1.5rem;

    border: solid 1px var(--border-color);
    border-radius: var(--card-radius);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease-in-out;
}

.cardContainer:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow on hover */
}

.cardContainer p {
    margin: 0;
}

.header {
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 150%;
    text-align: center;

    /* underline */
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 3px;

    margin-bottom: 1.5rem;
}

.bodyText {
    font-family: var(--body-font);
    font-size: 1rem;
    color: var(--text-color);
    line-height: 200%;
}