.background {
    background: var(--background-color);

    width: 100vw;
    height: calc(100vh - var(--header-height));

    padding-top: var(--header-height);
}

.headerContainer {
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    line-height: 150%;

    margin-bottom: 2.5rem;
}

.headerContainer h1 {
    margin: 0;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 2rem; 
    padding: 1rem; 
}