.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 2.5rem;
    height: var(--header-height);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.companyName {
    font-family: var(--header-font);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
    color: var(--text-color);
    letter-spacing: 0.02em;
    margin: 0;
    cursor: default;
}

.navButtonsContainer {
    display: flex;
    align-items: center;
    list-style: none;
}

.navButtonsContainer li {
    margin-left: 1rem;
}